<% include ../sistem/header.ejs %>
<% include ../sistem/sidebar.ejs %>
<% include ../sistem/topbar.ejs %>
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800"><%= title %></h1>

</div>
<!-- /.container-fluid -->

<% include ../sistem/footer.ejs %>